* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
}

a:visited,
a:link {
    text-decoration: none;
}

@font-face {
    font-family: Archivo;
    src: url(../font/Archivo.ttf);
  }

@font-face {
    font-family: ArchivoBold;
    src: url(../font/ArchivoBold.ttf);
  }

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins.ttf);
}

.test {
    overflow: hidden;
}

.fixed-position {
    position: fixed;
 }

/* #header-revamp-tv {
    background-color: #0F0D1E;
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    position: fixed;
    z-index: 999;
} */

#header-revamp-tv .relativ-menu {
    z-index: 999;
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    background: #0F0D1E;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

#header-revamp-tv .logo-oketv {
    background-image: url("../img/logotv.svg");
    height: 100%;
    width: 112px;
    background-repeat: no-repeat;
}

#header-revamp-tv .expand {
    content: url("../img/burger-tv.svg");
    height: 100%;
    width: 20px;
    transition: transform 250ms;
}

.collapse {
    content: url("../img/close.svg") !important;
    height: 100%;
    width: 20px;
    transition: all 0.3s ease-out 0s;
    transition: transform 250ms;
}

#header-revamp-tv .menu-header {
    background-color: #fff;
    display: flex;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 93vh;
    text-align: left;
    font-size: 20px;
    /* transform: rotate3d(1, 0, 0, 90deg);
    transform-origin: top; */
    transition: 0.5s;
    z-index: 99;
    padding-left: 17px;
    padding-right: 17px;
    overflow: hidden;
    transition-duration: 500ms;
    top: -100%; 
}

#header-revamp-tv .menu-header.open {
    overflow: scroll;
}

#header-revamp-tv .menu-header .boardtv {
    padding-top: 26px;
    display: flex;
    gap: 13px;
    margin-bottom: 20px;
}

#header-revamp-tv .menu-header a:link,
#header-revamp-tv .menu-header a:visited {
    text-decoration: none;
    color: #0F0D1E;
}

#header-revamp-tv .menu-header .boardtv:visited,
#header-revamp-tv .menu-header .boardtv:link {
    text-decoration: none;
    color: #0F0D1E;
}

#header-revamp-tv .menu-header .boardtv .boardtv-text,
#header-revamp-tv .menu-header .boardradio .boardtv-text,
#header-revamp-tv .menu-header .title-board {
    font-family: ArchivoBold;
    font-size: 16px;
    line-height: 150%;
    color: #0F0D1E
}

#header-revamp-tv .menu-header .boardradio {
    padding-top: 16px;
    padding-bottom: 20px;
    display: flex;
    gap: 13px
}

#header-revamp-tv .menu-header .title-board {
    padding-bottom: 20px ;
} 

#header-revamp-tv .menu-header .boardtv .boardtv-img {
    background-image: url("../img/boardtv.svg");
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
}

#header-revamp-tv .menu-header .boardradio-img {
    background-image: url("../img/boardradio.svg");
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
}

#header-revamp-tv .menu-header .grup-board {
    display: flex;
    flex-wrap: wrap;
}

#header-revamp-tv .menu-header .grup-board .board {
    width: 50%;
    font-family: Archivo;
    font-size: 16px;
    line-height: 150%;
    color: #0F0D1E;
    margin-bottom: 20px;
}

#header-revamp-tv .menu-header .grup-board.last .board {
    font-family: ArchivoBold !important;
}

/* #header-revamp-tv .menu-header.open {
    transform: rotate3d(0, 0, 1, 0deg);
} */

#wp-tv .slide-show {
    background-color: #1C1A28;
    width: 100%;
    height: 355px;
    padding-top: 20px;
}

#ads-show-tv {
    background-color: white;
    width: 320px;
    height: 50px;
    margin: 28px auto 28px;
}

#ads-show-tv.home-program {
    width: 328px !important;
    margin: 0 auto 20px;
}

#ads-show-tv.detail-live {
    width: 328px !important;
    margin: 0 auto 28px;
}

#ads-show-tv.detailvid {
    margin: 28px auto 0 !important;
}

#ads-show-tv.detailrad {
    margin: 28px auto 61px !important;
}

#wp-tv .live-section,
#detail-live .live-section {
    background: linear-gradient(78.24deg, rgba(255, 9, 0, 0.2) 2.36%, rgba(180, 162, 174, 0.2) 66.08%), linear-gradient(97.25deg, #5D86B5 1.84%, rgba(0, 0, 0, 0.56) 100%);
    height: 403px;
    width: 100%;
    padding: 9px 16px 20px;
}

#detail-live .live-section {
    height: 100%;
}

#wp-tv .live-section div:first-child {
    display: flex;
    justify-content: space-between;
}

#wp-tv .live-section div:first-child .logo-live {
    width: 95px;
    height: 20px;
}

#wp-tv .live-section .text-live,
#detail-live .live-section .text-live {
    color: #fff;
    font-family: ArchivoBold;
    line-height: 24px;
    font-size: 16px;
    padding-bottom: 12px;
    padding-left: 17px;
    position: relative;
}

#wp-tv .live-section .text-live::before, 
#detail-live .live-section .text-live::before {
    content: '';
    position: absolute;
    background-color: #FF0000;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    left: 0px;
    top: 8px;
}

#wp-tv .live-section .title-live {
    padding-top: 12px;
    font-family: ArchivoBold;
    color: #fff;
    padding-bottom: 8px;
    line-height: 150%;
    font-size: 18px;
}

#wp-tv .live-section .title-live:visited,
#wp-tv .live-section .title-live:link {
    text-decoration: none;
    color: white;
}

#wp-tv .live-section .content-live {
    font-family: Archivo;
    color: #fff;
    letter-spacing: 0.3px;
    font-size: 12px;
    line-height: 150%;
}

#all-grup-storynews {
    background: #1C1A28;
    padding-bottom: 28px;
}

#all-grup-storynews .storynews-section {
    padding-left: 16px;
    padding-right: 16px;
    background: #1C1A28;
}

#all-grup-storynews .storynews-section .grup-storynews.last {
    position: relative;
}

#all-grup-storynews .storynews-section .grup-storynews.last .img-storynews::after {
    content: '';
    position: absolute;
    right: -1px;
    top: 0;
    width: 100%;
    height: 69%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, #000 85%)
}

#all-grup-storynews .storynews-section .more {
    position: absolute;
    right: 10px;
    top: 49px;
    bottom: 0;
    display: flex;
    gap: 8px;
    height: max-content;
    align-items: center;
}

#all-grup-storynews .storynews-section .more .text,
#all-grup-storynews .storynews-section .more .text:visited,
#all-grup-storynews .storynews-section .more .text:link {
    font-size: 18px;
    font-family: Archivo;
    letter-spacing: 0.3;
    color: white;
}

/* #all-grup-storynews .storynews-section .more .icon-more {
    background-image: url("../img/icon-more.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
} */

#all-grup-storynews .storynews-section .more .icon-more {
    width: 19px;
    height: 17px;
}

#all-grup-storynews .storynews-section .more .icon-more img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#all-grup-storynews .storynews-section .title-storynews,
#all-grup-storynews .storynews-section .title-storynews:visited,
#all-grup-storynews .storynews-section .title-storynews:link {
    padding-top: 28px;
    padding-bottom: 16px;
    font-family: ArchivoBold;
    color: #fff;
    letter-spacing: 0.3px;
    line-height: 150%;
    font-size: 16px;
}

#all-grup-storynews .storynews-section .grup-storynews .img-storynews {
    width: 198px;
    height: 111px;
}

#all-grup-storynews .storynews-section .grup-storynews .img-storynews img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#all-grup-storynews .storynews-section .grup-storynews .content-storynews {
    width: 198px;
    font-family: ArchivoBold;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.3px;
    padding-top: 12px;
    visibility: visible;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#all-grup-storynews .storynews-section .grup-storynews .content-storynews:visited,
#all-grup-storynews .storynews-section .grup-storynews .content-storynews:link {
    color: white;
}

#all-grup-storynews .storynews-section .swiper-container {
    overflow: hidden;
}

#all-grup-storynews .storynews-section .grup-streaming div a {
    margin-right: 12px;
}

#all-grup-storynews .storynews-section .grup-streaming .image-streaming {
    background-color: white;
    width: 142px;
    height: 94px;
    border-radius: 10px;
}

#all-grup-storynews .storynews-section .grup-streaming .image-streaming:first-child {
    padding: 35px 31px;
}

#all-grup-storynews .storynews-section .grup-streaming .image-streaming:nth-child(2) {
    padding: 37px 17px;
}

#all-grup-storynews .storynews-section .grup-streaming .image-streaming:nth-child(3) {
    padding: 35px 37px;
}

#all-grup-storynews .storynews-section .grup-streaming .image-streaming:nth-child(4) {
    padding: 35px 25px;
}

#all-grup-storynews .storynews-section .grup-streaming .image-streaming:nth-child(5) {
    padding: 31px 47px;
}

#all-grup-storynews .storynews-section .grup-streaming .image-streaming:nth-child(6) {
    padding: 31px 29px;
}

#all-grup-storynews .storynews-section .grup-streaming .image-streaming:nth-child(7) {
    padding: 38px 10px;
}

#all-grup-storynews .storynews-section .grup-streaming .image-streaming:first-child div {
    width: 80px;
    height: 24px;
}

#all-grup-storynews .storynews-section .grup-streaming .image-streaming:nth-child(2) div {
    width: 107px;
    height: 20px;
}

#all-grup-storynews .storynews-section .grup-streaming .image-streaming:nth-child(3) div {
    width: 67px;
    height: 24px;
}

#all-grup-storynews .storynews-section .grup-streaming .image-streaming:nth-child(4) div {
    width: 91px;
    height: 24px;
}

#all-grup-storynews .storynews-section .grup-streaming .image-streaming:nth-child(5) div {
    width: 48px;
    height: 32px;
}

#all-grup-storynews .storynews-section .grup-streaming .image-streaming:nth-child(6) div {
    width: 83px;
    height: 32px;
}

#all-grup-storynews .storynews-section .grup-streaming .image-streaming:nth-child(7) div {
    width: 122px;
    height: 17px;
}

#all-grup-storynews .storynews-section .grup-streaming .image-streaming img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#all-grup-storynews .storynews-section .swiper-slide {
    width: unset;
}

#all-grup-storynews .storynews-section .swiper-slide:first-child {
    margin-right: 12px;
}

#all-grup-storynews .storynews-section .grup-radio .swiper-wrapper {
    display: flex;
    justify-content: center;
}

#all-grup-storynews .storynews-section .grup-radio .swiper-wrapper a {
    width: 165px;
    height: 92.47px;
}

#all-grup-storynews .storynews-section .grup-radio .swiper-wrapper a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


footer {
    background: #0F0D1E;
    margin-top: -1px;
    padding-top: 24px;
}

footer .logo-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

footer .grup-medsos {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 15px;
}

footer .copy {
    color: #fff;
    font-family: Archivo;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    padding-bottom: 24px;
}

/* slider */

#grup-slide {
    padding-top: 60px;
}

#grup-slide .swiper {
    width: 343px;
    height: 168px;
}

#grup-slide .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

#grup-slide .swiper-slide {
    width: 279px;
    height: 168px;
}

#grup-slide .swiper-slide.spec-height {
    height: 186px !important;
}

#grup-slide .swiper-3d .swiper-slide-shadow {
    background: none !important;
}

#grup-slide .swiper-slide {
    width: 279px !important;
}

#grup-slide .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}


/* Detail Video  */

#detail-video-tv,
#detail-radio-tv,
#home-program {
    background-color: #1C1A28;
}

#detail-video-tv .live-section .title-live,
#detail-video-tv .live-section .title-live:link,
#detail-video-tv .live-section .title-live:visited {
    padding: 16px;
    font-family: ArchivoBold;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

#detail-video-tv .live-section .content-live,
#detail-live .live-section .content-live {
    color: #fff;
    font-family: Archivo;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.3px;
    padding: 0 16px;
}

#all-grup-storynews .storynews-section .grup-storynews .img-watchlater {
    width: 160px;
    height: 90px;
}

#all-grup-storynews .storynews-section .grup-storynews .img-watchlater img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#all-grup-storynews .storynews-section .grup-storynews .content-watchlater {
    width: 160px;
    font-family: ArchivoBold;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.3px;
    padding-top: 12px;
    visibility: visible;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#all-grup-storynews .storynews-section .grup-storynews.last .img-watchlater {
    position: relative;
}

#all-grup-storynews .storynews-section .grup-storynews.last .img-watchlater::after {
    content: '';
    position: absolute;
    right: -1px;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, #000 85%)
}

#all-grup-storynews .storynews-section .more.watchlater {
    top: 38px;
}

/* Detail radio */

#detail-radio-tv .streaming-radio .relative-img .bg-content audio::-webkit-media-controls-play-button,
#detail-radio-tv .streaming-radio .relative-img .bg-content audio::-webkit-media-controls-panel {
    color: #000;
}

#detail-radio-tv .streaming-radio {
    height: 525px;
}

#detail-radio-tv .streaming-radio .relative-img {
    position: relative;
    width: 343px;
    height: 500px;
    margin: 0 auto;
   
}

#detail-radio-tv .streaming-radio .bg-city {
    width: 343px;
    height: 500px;
    margin: 0 auto;
    padding-top: 75px;
}

#detail-radio-tv .streaming-radio .bg-city img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}   

#detail-radio-tv .streaming-radio .city-center {
    width: 233px;
    height: 142px;
    margin: 0 auto;
}

#detail-radio-tv .streaming-radio .audio {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 12px;
}

#detail-radio-tv .streaming-radio .audio audio {
    height: 35px;
}

#detail-radio-tv .streaming-radio .audio-gif {
    width: 291px;
    height: 47px;
    margin: 20px auto;
}

#detail-radio-tv .streaming-radio .audio-gif img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#detail-radio-tv .streaming-radio .bg-content {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 130px;
}

#detail-radio-tv .streaming-radio .bg-content .text {
    text-align: center;
    font-family: ArchivoBold;
    font-size: 20px;
    line-height: 30px;
    color: #1C1A28;
    margin-bottom: 20px;
}

#detail-radio-tv .streaming-radio .city-center img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#detail-radio-tv #all-grup-storynews .storynews-section {
    background-color: #0F0D1E !important
}

#detail-radio-tv #all-grup-storynews .title-storynews {
    padding-top: 16px !important;
    padding-bottom: 24px !important;
}

#detail-radio-tv #all-grup-storynews .radio-storynews {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 16px;
}

#detail-radio-tv #all-grup-storynews .radio-storynews .grup-storynews {
    background-color: #fff;
    padding: 32px;
    border-radius: 10px;
}

#detail-radio-tv #all-grup-storynews .radio-storynews .grup-storynews.yellow {
    background-color: #FFD77F;
}

#all-grup-storynews .storynews-section .grup-storynews .img-morechannel {
    width: 98px;
    height: 24px;
}

#all-grup-storynews .storynews-section .grup-storynews .img-morechannel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#all-grup-storynews .storynews-section .grup-storynews.last .img-morechannel::after {
    content: '';
    position: absolute;
    right: -1px;
    top: -1px;
    width: 100%;
    height: 86%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, #000 85%)
}

#all-grup-storynews.channelmore {
    padding: 0 !important;
    margin-bottom: 28px;
}

/* Detail Live */

#detail-video-tv .share,
#detail-live .share {
    display: flex;
    margin: 16px 16px 0px;
    align-items: center;
    gap: 16px;
}

#detail-video-tv .share .text,
#detail-live .share .text {
    font-family: Archivo;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: #fff;
}

#detail-video-tv .share .grup-share,
#detail-live .share .grup-share {
    display: flex;
    gap: 16px;
}

#detail-live .share {
    margin: 16px 16px 0px 0px;
}

/* Home Program */

#home-program .banner {
    width: 100vw;
    height: 100%;
    padding-top: 72px;
    padding-bottom: 28px;
    padding-left: 16px;
    padding-right: 16px;
}

#home-program .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#home-program .section-lifestyle,
#detail-live .section-lifestyle {
    padding: 0 16px;
}

#detail-live .section-lifestyle {
    background: #1C1A28;
    margin-top: -1px;
}


#home-program .section-lifestyle .text,
#detail-live .section-lifestyle .text {
    padding-bottom: 16px;
    font-family: ArchivoBold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.3px;
    color: #fff;
}

#home-program .section-lifestyle .grup-section-lifestyle,
#detail-live .section-lifestyle .grup-section-lifestyle {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

#detail-live .section-lifestyle .grup-section-lifestyle {
    margin-top: 16px;
}

#home-program .section-lifestyle .grup-section-lifestyle .img-daily,
#detail-live .section-lifestyle .grup-section-lifestyle .img-daily {
    width: 100%;
    height: 91px;
    padding-bottom: 12px;
}

#home-program .section-lifestyle .grup-section-lifestyle .img-daily img,
#detail-live .section-lifestyle .grup-section-lifestyle .img-daily img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#home-program .section-lifestyle .grup-section-lifestyle .news-daily,
#detail-live .section-lifestyle .grup-section-lifestyle .news-daily {
    width: calc(50% - 10px);
}

#home-program .section-lifestyle .grup-section-lifestyle .news-daily .text-daily, 
#detail-live .section-lifestyle .grup-section-lifestyle .news-daily .text-daily {
    padding-bottom: 20px;
    font-family: ArchivoBold;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.3px;
    color: #fff;
}

/* Home Kanal */

#detail-live .live-section .flex-title {
    margin-top: 73px;
    display: flex;
    justify-content: space-between;
}

#detail-live .live-section .flex-title .logo-live {
    width: 101px;
    height: 23px;
}

#detail-live .live-section {
    background: #1C1A28;
    padding-bottom: 29px;
}

#detail-live .live-section .title-live {
    padding-top: 12px;
    padding-bottom: 8px;
    font-family: ArchivoBold;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    letter-spacing: 0.3px;
}

#detail-live .live-section .content-live {
    padding: 0 !important;
}


@media screen and (min-width: 360px) {
    #grup-slide .swiper {
        width: 340px;
    }
  }

@media screen and (min-width: 370px) {
    #grup-slide .swiper {
        width: 353px;
    }
  }

@media screen and (min-width: 376px) {
    #grup-slide .swiper {
        width: 344px;
    }
  }
@media screen and (min-width: 380px) {
    #grup-slide .swiper {
        width: 353px;
    }
  }

@media screen and (min-width: 385px) {
    #grup-slide .swiper {
        width: 353px;
    }
  }

@media screen and (min-width: 390px) {
    #grup-slide .swiper {
        width: 358px;
    }
  }

@media screen and (min-width: 400px) {
    #grup-slide .swiper {
        width: 368px;
    }
  }
  @media screen and (min-width: 413px) {
    #grup-slide .swiper {
        width: 381px;
    }
  }

  @media screen and (min-width: 414px) {
    #grup-slide .swiper {
        width: 382px;   
    }
    #home-program .section-lifestyle .grup-section-lifestyle .img-daily {
        height: 111px;
    }
}

@media screen and (max-width: 370px) {
    #all-grup-storynews .storynews-section .grup-radio .swiper-wrapper a {
        width: 145px;
        height: 81.47px;
    }    
}


